.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('https://www.pexels.com/sv-se/foto/man-pir-leende-barn-1320701/');
}

.Footer {
  text-align: center;
  background-color: black;
  margin-top: auto;
}

.joke {
  margin-top: auto;
}
